node_modules/
.next/
.env
*.log
**/Screenshot*.png
**/Untitled*.ipynb
**/ewcl-toolkit/
**/new-ewcl/
**/my-new-project/
**/*.wav
**/*.mp3
**/*.asd
**/*.mid
**/*.lock
**/yarn.lock
**/package-lock*.json
**/tail***
curl
ewcl-frontend/
